html,


header {
    background-color: #522623;
    background-attachment: fixed;
    margin: 2em;
    z-index: 10;
    box-sizing: border-box;
    background-image: url("Photos/Untitled design (9).jpg");
    background-repeat: no-repeat;
    left: 0.5;
    background-size:25%;

}


nav {
    box-sizing: border-box;
    margin: 0;
    padding: 1em 2em;
    background-size: contain;
    width: fit-content;
    position: fixed;
    z-index: 5;
    top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: none;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 0em;
    right: 0;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}



.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    z-index: 1000;
    position: relative;
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}


.nav-menu-btn {
    display: contents;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
        position: absolute;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: fixed;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
        background-color: #522623;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: contents;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}


h1 {
    box-sizing: border-box;
    margin: 0;
    margin-top: -8em;
    padding: 2em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #444A41;

    h2 {
        text-align: center;
        font: bolder;
        font-size: 2em;
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif
    }

    p2 {
        text-align: right;
        font-size: 0.8em;
        color: white;
    }

    p3 {
        text-align: right;
        font-size: 0.8em;
        color: white;
    }

    p4 {
        text-align: right;
        font-size: 0.8em;
        color: white;
    }
}



.container {
    margin-top: 1em;
    margin-bottom: 0em;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100;
}

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

h3 {
    box-sizing: border-box;
    margin: 0;
    margin-top: 1em;
    padding: 2em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #444A41;

    h4 {
        text-align: center;
        font: bolder;
        font-size: 2em;
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif
    }

    p4 {
        text-align: left;
        font: bolder;
        font-size: 0.9em;
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif
    }
}